@model Models.Authentification.UtilisateurVM

<h1>@ViewData["Titre"]</h1>

<form asp-controller="Auth" asp-action="Create"
      method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nom :</label>
        <input asp-for="@Model.Nom" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Prenom :</label>
        <input asp-for="@Model.Prenom" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Login :</label>
        <input asp-for="@Model.Compte" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Password :</label>
        <input asp-for="@Model.MotPasse" class="form-control" id="exampleFormControlTextarea1" rows="3">
    </div>
    
    <input type="submit" />
</form>
