@model IEnumerable<Models.Membres.MembreVM>


<div class="row mt-3">
    <div class="col-md-12">

        <table class="table">
            <thead>
                <tr>

                    <th>nom</th>
                    <th>Prenom</th>
                    <th>Annee</th>
                    <th>Filiere</th>
                    <th>Groupe</th>



                </tr>
            </thead>

            <tbody>
                @foreach (var mem in Model)
                {

                    <tr>

                        
                        <td>@mem.Nom</td>
                        <td>@mem.Prenom</td>
                        <td>@mem.Annee</td>
                        <td>@mem.Filiere</td>
                        <td>@mem.Groupe</td>
                        


                        <td>

                            <a asp-controller="Membre" asp-action="Edit" asp-route-id="@mem.Id" class="btn btn-success btn-sm">Editer</a>
                            <a asp-controller="Membre" asp-action="Delete" asp-route-id="@mem.Id" class="btn btn-danger btn-sm">Supprimer</a>
                            
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

